#Create a markdown cell for an introduction with Markdown
# H1:Data Science Tools and Ecosystem (Level 1 Heading)
## H2:Data Science Tools and Ecosystem (Level 2 Heading)
### H3:Data Science Tools and Ecosystem (Level 3 Heading)
#### H4:Data Science Tools and Ecosystem (Level 4 Heading)
###### H5:Data Science Tools and Ecosystem (Level 5 Heading)

#Insert a markdown cell to indicate objectives
# Objective   
- Create a Jupyter Notebook
- Insert Code and Markdown Cell
-  Share your notebook through GitHub

#Text in italics using asterisk.

##Text in italics using underscore.

***Data Science Tools and Ecosystem***

_Data Science Tools and Ecosystem_

# Create a markdown cell for an introduction
# In this notebook, data science tools and environments are summarised:
# Data Science Tools
- NoSQL Databases
- Apache Airflow and Apache Kafka
- Tableau and PowerBI
- Jupyter Notebooks and RStudio
- Data Science Environments

# Data Science Tasks support the following:
- Code Asset Management
- Data Asset Management 
- Development Environments
- Execution Environments

#Create a Markdown Cell to list data science languages

***Some of the popular languages that Data Scientist use are:***

1. Python
2. R
3. Java
4. SQL
5. Scala
6. C++
7. Julia
8. Pandas
9. NumPy
10. SciPy
11.Matplotlib

#Create a Markdown Cell to list data science Libraries

***Some of the commonly used libraries used by Data Scientist include:***

- Tensorflow
- Numpy
- Seaborn
- Pandas
- Jupyter Note

# Create a markdown cell with a table
|Country Name|Capital|
|------------|-------|
|Germany| Berlin|
|France |Pariss|
|Belgium|Brussels|

# Create a Markdown Cell with a table of Data Science Tools
|Data Science Tools|
|------------------|
| Watston Studio   |
| Rstudio          |
| Jupyter Note     |

# Create a Markdown Cell introducing arithmetic expression examples

Below are a few examples of arithmatic expressions in python.

- Addition
- Subtraction
- Division

In [25]:
# Create a Code Cell to multiply and add numbers

##This is a simple arithmetic expression to multiply and then add integers
(7*5)+3

38

In [15]:
# Create a code cell to convert minutes to hours
#This will convert 300 minutes to hours by dividing by 60
300//60

5

#Creat a Markdown cell to indicate Author and add you name

***Author*** 

***Vijay Kumar***